
.addBook {
    border: 1px dotted rgb(175, 175, 175);
    height: 190px;
    width: 151px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color:rgb(254, 255, 180);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin:3px;
  }
