.dialog {
  min-width: 500px;
}

.dialogtitle {
  padding-bottom: 0 !important;
}
.mainDialog {
  height: 800px;
}
.short {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.error {
  color: red;
  font-size: 20px;
  text-align: center;
  padding: 3px;
}
