.row {
  border-bottom: 2px rgb(175, 175, 175) solid;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}
.sample {
  border: 1px dotted rgb(175, 175, 175);
  height: 190px;
  width: 151px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 255, 180);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.popText {
  font-size: 14px !important;
}

.popIcon {
  margin-right: 4px !important;
}
.link {
  text-decoration: none !important;
}
.link:visited {
  text-decoration: none !important;
}

/* ====== */

.mainDiv {
  border: 1px dotted rgb(175, 175, 175);
  height: 250px;
  width: 200px;
  display: block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-left: 3vw;
}
.headerDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 10px;
}
.addBookManual {
  height: 150px;
  margin: 10px 0 10px 30px;
  width: 111px;
  background-color: #9cecfb;
}
.iconDiv {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  float: right;
  
}
.addBookSearch {
  border: 1px dotted rgb(175, 175, 175);
  height: 150px;
  width: 111px;
  justify-content: flex-end;
  align-items: flex-start;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 3px;
}
.bodyDiv {
  font-size: 0.8rem;
  padding: 10px;
  line-height: 1.3rem;
}
.title {
  font-weight: bold;
}
