.mainDialog_daily {
  width: 500px;
}
.dialog_daily {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialogtitle {
  padding-bottom: 0 !important;
}
.mainDialog {
  height: 800px;
}
.nums {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
