.dialog_daily {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
}
.error {
  color: red;
  font-size: 20px;
  text-align: center;
  padding: 3px;
}

.dialogtitle {
  margin-bottom: 10px !important;
  /* padding-bottom: 10px; */
  max-width: 500px;
  font-size: 2rem !important;
}
.firstRow {
  box-sizing: border-box;

  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.midRow {
  box-sizing: border-box;

  width: 600px;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.leftCol {
  box-sizing: border-box;
  width: 250px;
  padding: 0 !important;
}
.rightCol {
  box-sizing: border-box;

  width: 350px;
  font-size: 14px;
  border: 1px solid #26a69a;
}
.lastRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
