.ulRecord {
  list-style: none;
  font-size: 0.9rem;
  margin: 0;
  text-align: left;
}

.data {
  text-align: center;
}
.data p {
  text-decoration: underline;
  font-size: 1rem;
}
.error {
  color: orange;
  font-size: 0.9rem;
}
.record {
  display: block;
}
