.search {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.searchBar {
  width: 300px;
  height: 15px;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid gray;
  margin: 3px;
}
.searchBar:focus {
  background-color: none !important;
}
/* input:nth-of-type(2) {
  width: 15vw;
} */
.MuiFormLabel:focused {
  color: none !important;
}
