.title {
  font-family: "Gorditas", cursive !important;
}
.appbar {
  margin: 0;
  /* color:"#263238";
  background: #fffc00; 
  background: -webkit-linear-gradient(to bottom, #ffffff, #fffc00); 
  background: linear-gradient(to bottom, #ffffff, #fffc00); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0052D4, #0277bd, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0052D4, #0277bd, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
