.brand {
  font-family: "Gorditas", cursive !important;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none !important;
}
.brand:visited {
  color: black !important;
  text-decoration: none !important;
}
.appbar {
  text-decoration: none !important;

  margin: 0;
  /* color:"#263238";
  background: #fffc00; 
  background: -webkit-linear-gradient(to bottom, #ffffff, #fffc00); 
  background: linear-gradient(to bottom, #ffffff, #fffc00); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #9cecfb; 
  background: -webkit-linear-gradient(
    to left,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); 
  background: linear-gradient(
    to left,
    #0052d4,
    #65c7f7,
    #9cecfb
  );
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.link {
  text-decoration: none !important;
}
.link:visited {
  text-decoration: none !important;
}
.white {
  color: white!important;
}
